.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('C:\Users\rajal\Desktop\FullStackProject\movie-ticket-booking\src\images\login.jpg');
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  form {
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #fff;
    padding: 50px;
    max-width: 500px;
    height: 350px;
    margin-top: 100px;
    margin: 0 auto;
  }
  
  h1 {
    text-align: center;
    font-size: 36px;
    color: #333;
    margin-bottom: 20px;
    margin-top: -20px;
  }
  
  input[type="text"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }
  
  button {
    background-color: #b22222;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
  }
  
  button:hover {
    background-color: black;
  }
  